<div class="container__big-card">

  <div class="big-card__photo">
    <img
    src="https://i.ytimg.com/vi/YfUDuooBzFU/maxresdefault.jpg"
    alt=""
    height="220px"
    srcset=""
    >
  </div>

  <div class="big-card__title">
  <h1><a href="#">Saiu a nova versao do angular</a></h1>
  </div>

  <div class="big-card__desciption">
     <p>
      <a href="#" >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus augue nisi, fermentum non ante id, congue
      elementum augue. Pellentesque blandit condimentum orci at varius. Interdum et malesuada fames ac ante ipsum primis in
      verra in in nisl. Aenean nec dictum augue. Nullam suscipit nunc non sem rutrum condimentum. Aenean ut ultricies tellus.
     </a>
    </p>
  </div>
</div>
