


<app-menu-title></app-menu-title>

<div class="container__articles">
<div class="articles__main">

  <app-big-card
  Id="1"
 photoCover="https://i.ytimg.com/vi/YfUDuooBzFU/maxresdefault.jpg"
cardTitle="SPIDER-MAN 2 – JOGO GANHA TRAILER E GAMEPLAY INSANO"
cardDescription="Durante o PlayStation Showcase a Sony divulgou várias novidades entre elas a primeira prévia de Spider-Man 2, jogo produzido pela Insomniac Games, que apresenta o vilão Kraven, o Caçador"
>
</app-big-card>
 </div>
 <div class="articles__others">
  <app-small-card
  Id="2"
  cardTitle="Quantas versões do Homem-Aranha aparecem em Através do Aranhaverso"
  photoCover="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/05/29/1252015195-a44f4f554777649ffc6a5b46db6041fb.jpg"
  >
  </app-small-card>
  <app-small-card
 Id="3"
  cardTitle="Flash é realmente o melhor velocista?? "
  photoCover= "https://quadrinheiros.files.wordpress.com/2021/10/flahs-correndo.jpg?w=1200"
  >
  </app-small-card>

  <app-small-card
  Id="4"
  cardTitle="Conheça os anti-heróis da marvel"
  photoCover="https://cinebuzz.uol.com.br/media/uploads/quem_serao_os_thunderbolts_no_universo_cinematografico_da_marvel.png"

  >

  </app-small-card>
 </div>
</div>

